.ss-main .ss-single-selected{
    padding-left: 15px;
    height: 43px;
}

#init-table_processing{
    background-color: transparent;
    border: none;
}

.dataTables_processing{
    background-color: transparent;
    box-shadow: none;
}

#init-table_paginate{
    margin-top: -30px;
}

#loading {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
